@import url("https://use.typekit.net/shh6bao.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono|Ubuntu+Mono|Cutive+Mono");
center{
    font-size: 7px;
    font-family: Ubuntu Mono, monospace !important;
    text-rendering: optimizeSpeed;
}

body {
    background-color: #1c1d1f;
    height: 100vh;
}
div {
    color: #3d77eb;
    margin: 1 auto;
    display: block;
    font-family: ubuntu-mono, monospace;
    font-size: 1.5vh;
    font-weight: 700;
    font-style: normal;
    position: center;
    padding-right: 2%;
}
    pre {
    font-family: ubuntu-mono, monospace;
    font-weight: bold;
    font-style: normal;
    
    }
a, a:visited {
    text-decoration: underline;
    color:inherit;
}  
header {
    color: #ffffff;
    font-family: courier-std, monospace;
    font-weight: 700;
    font-style: normal;
    transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
    font-size: 0.5vmax;
    padding-right: 5%;

    cursor: pointer;
}
header:hover, p:hover, a:hover, block:hover {
    cursor: url('cursor.cur') pointer;
    -webkit-animation: rainbow 5s infinite;
    animation: rainbow 8s infinite;
}
@-webkit-keyframes rainbow {
    0%, 100% { color: #ffffff; }
  16%      { color: #afcdf4; }
  32%      { color: #80b6fc; }
  48%      { color: #5194ea; }
  64%      { color: #3383ec; }
  80%      { color: #296cc3; }
  }
  @keyframes rainbow {
    0%, 100% { color: #ffffff; }
    16%      { color: #afcdf4; }
    32%      { color: #80b6fc; }
    48%      { color: #5194ea; }
    64%      { color: #3383ec; }
    80%      { color: #296cc3; }
  }
block {
    font-size: 4px;
    font-family: courier-std, monospace;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    text-size-adjust: auto;
    position: center;
    letter-spacing: unset;
    line-height: unset;
    transform: unset;
    width: 0.5;
    height: 0.5vh;
    max-width: 500px;
    min-width: 250px;
}

@media only screen and (max-width: 986px) {
    header {
        font-size: 1vmax, 15px;
    }
    div {
        padding-left: 5%;
        font-size: 100%;
    }
    block {
        width: 300px;
        height: 500px;
    }
    }

    //

    /*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6, pre, {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }